<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>3D Viewer - Tailwind</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body class="bg-gray-100 text-gray-800">

    <div class="flex h-screen">
        <!-- Sidebar -->
        <div class="w-64 p-6 bg-white shadow-xl">
            <h2 class="text-2xl font-bold mb-4">WebWing</h2>
            <label class="block">v0.1</label>
            <label class="block font-medium">Author: Yunjia Yang</label>
            <!-- Tabs -->
            <div class="flex flex-col space-y-2 mb-6 mt-6">
                <button class="tab-btn active-tab bg-blue-500 text-white px-4 py-2 rounded-md font-medium" data-shape="pred">Prediction</button>
                <button class="tab-btn bg-gray-200 text-gray-800 px-4 py-2 rounded-md font-medium" data-shape="dsgn">Design</button>
            </div>
            <!-- Logo -->
            <div class="mt-6">
                <img id="logo" class="w-full h-full bg-white rounded-xl shadow-md" src="/static/image/logo.png" alt="Logo">
            </div>
        </div>
        
        <div class="flex flex-col w-128 p-6">
            <!-- Sectional Airfoil Parameters -->
            <div class="h-128 p-6">

                <!-- Select -->
                <div class="my-4 space-y-1">
                    <label for="airfoil-select" class="block text-sm font-medium text-gray-700">Select from</label>
                    <select id="airfoil-select" class="w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm">
                    <!-- Options inserted dynamically -->
                    </select>
                </div>

                <!-- Root Thickness -->
                <div id="airfoil-params" class="mt-4"></div>

                <!-- CSTU -->
                <div class="my-4 space-y-1">
                    <label for="cstu" class="block text-sm font-medium text-gray-700">CSTU</label>
                    <textarea id="cstu" rows="3" class="w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm resize-none"></textarea>
                </div>

                <!-- CSTL -->
                <div class="space-y-1">
                    <label for="cstl" class="block text-sm font-medium text-gray-700">CSTL</label>
                    <textarea id="cstl" rows="3" class="w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm resize-none"></textarea>
                </div>

                <!-- moving points switch-->
                <button id="toggle-btn" class="my-4 w-32 bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-md">
                    Modify airfoil
                </button>
            </div>
            
            <!-- wing planform parameters -->
            <div id="wing-params" class="p-6"></div>

            <!--operating conditions -->
            <div id="conditions" class="p-6"></div>
        </div>

        <div class="flex-grow">
            <div class="flex h-128 p-6 gap-6"> 

                <!-- Airfoil Geometry -->
                <div class="w-[75%] bg-gray-50 text-gray-800 p-8">

                    <h1 class="font-bold mb-4">Airfoil Geometry</h1>

                    <div id="airfoil-plot" class="w-full h-[400px] bg-white rounded-xl shadow-md"></div>

                </div>

                <div class="w-[25%] bg-gray-50 text-gray-800 p-8">

                    <h1 class="font-bold mb-4">Wing Geometry</h1>

                    <div id="wing-plot" class="w-full h-[400px] bg-white rounded-xl shadow-md"></div>

                </div>
            </div>
        </div>
        
            <!-- <h3>Coefficients Result</h3>
            <div class="parameter-row">
                <label for="CL">CL</label>
                <p id="CL"></p>
            </div>
            <div class="parameter-row">
                <label for="CD">CD</label>
                <p id="CD"></p>
            </div>
            <div class="parameter-row">
                <label for="CM">CM</label>
                <p id="CM"></p>
            </div>
        </div> -->

        <!-- Predict Wing Flowfield -->
        <!-- <div class="box">
            <h3>Predict Wing Flowfield</h3>
            <div class="plot">
                <img id="predict_wing_flowfield" class="outputImage" src=""
                alt="Wing Flowfield">
            </div>

        </div> -->
    </div>

    <script src="{{ url_for('static', filename='js/adjustbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/airfoil.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>